.gridItem {
  height: 400px;
}

.player {
  height: 100%;
  width: 100%;
}

.linkText, #projectText, #toolsText {
  text-align: center;
}

.linkText {
  letter-spacing: 3px;
}

.toolsTitle {
  margin: 0;
  border-bottom: 1px solid black;
}

#projectText, #toolsText {
  font-weight: 650;
  font-size: 16px;
}

@media only screen and (min-width: 960px) and (max-width: 1100px) {

  #projectText, #toolsText {
    font-weight: 600;
    font-size: 12px;
  }

  #toolsTitle {
    font-size: 20px;
  }
  
}